.TextInput {
    text-align: left;
    vertical-align: middle;
    font-size: 17px;
    padding: 4px 4px;
    border-width: 0px;
    outline: none;
    border-color: rgba(0, 0, 0, 0.3);
    border-style: solid;
    border-bottom-width: 1px;
}
