.usersContainer {
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.buttonsContainer {
    flex-direction: column;
    width: 50px;
    position: absolute;
    bottom: 5vh;
    left: 0px;
    border-color: white;
    border-width: 1px;
    border-style: solid;
    border-left-width: 0px;
}

.container {
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    overflow-y: scroll;
}

.margin {
    margin-left: 20vw;
    margin-right: 20vw;
}

.divider {
    height: 16px;
}

.image {
    width: 80vw;
}
