.paramValue {
    width: 24px;
    height: 24px;
}

.paramsContainer {
    margin: 16px;
    padding: 8px;
    width: 300px;
    flex-direction: column;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    border-radius: 16px;
}

.paramName {
    flex: 1;
    margin-right: 16px;
}

.paramName1 {
    margin-right: 16px;
}

.paramRow {
    padding: 8px;
}

.paramRow1 {
    flex-direction: column;
}

.paramValueInput {
    width: 20px;
    text-align: center;
}

.paramValueSlider {
    flex: 1;
    padding: 8px;
    margin-top: -12px;
    margin-bottom: -4px;
}
